# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 66804e44c0862716fa96b4926e2d2f8ee95e7702a5b8904d01917c0e5ebfeca56214df35d0f5171b32acd4e0b43f73d9e972ee55234acc0f39d0550d9ceba596

test:
  secret_key_base: 1bd76197762c4b4d1705678c3d0454ce5ac92279da015ee75ca4233b31ec146fdd6075362bedeed84c8cee7faa9dc87da8572d1accec5b148a441eac553fc967

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
